div {
    border: solid 2px black;
    padding: 2px;
    min-width: 0;
    min-height: 0;
}

#mainBox {
    border-color: lightblue;
    text-align: center;
}

#titleBox {
    border-color: lightseagreen;
}

#explanationBox {
    border-color: lightyellow;
}

#colorPickBox {
    border-color: lightcoral;
}

#mapBox {
    border-color: lightgreen;
}

#map {
    margin: auto;
    display: block;
}

#submitButtonBox {
    border-color: lightgrey;
}

