body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

div {
    padding: 2px;
    min-width: 0;
    min-height: 0;
}

#mainBox {
    border-color: lightblue;
    text-align: center;
}

#titleBox {
    border-color: lightseagreen;
}

#explanationBox {
    border-color: lightyellow;
}

#ratingPickBox {
    border-color: lightcoral;
}

#mapBox {
    border-color: lightgreen;
}

#map {
    margin: auto;
    display: block;
}

#submitButtonBox {
    border-color: lightgrey;
}

#submitButton {
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
}

#ratingCounter {
    font-size: 1.3em;
    color: darkred;
}

.ratingButton {
    padding: 5px 30px 5px 30px;
    margin: 0px 10px 0px 10px;
}

#ratingButton1 {color: white}
#ratingButton2 {color: white}
#ratingButton3 {color: white}
#ratingButton10 {color: white}